
  <!--Header End-->

  <!-- 404 Error
  ================================================= -->
  <div class="error-page">
    <div class="error-content">
      <div class="container">
        <img src="../../assets/images/404.png" alt="" class="img-responsive" />
        <div class="error-message">
            <h1 class="error-title">Whoops!</h1>

        </div>

          <button (click)="Home()" class="btn btn-primary">Go To Home</button>

      </div>
      </div>
  </div>

  <!-- Footer
  ================================================= -->
