<app-header></app-header>

<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
        ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card" *ngIf="role == 'admin'">
          <img src="../../assets/images/cintana_profile.png" alt="user" class="profile-photo" />
          <h5><a href="timeline.html" class="text-white">{{currentUser.name}}</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i>    {{currentUser.user_count}} users</a>
        </div>
        <div class="profile-card" *ngIf="role == 'user'">
          <img src="../../assets/images/cintana_profile.png" alt="user" class="profile-photo" />
          <h5><a href="timeline.html" class="text-white">{{currentUser.name}}</a></h5>
          <a href="#" class="text-white">{{currentUser.email}}</a>
        </div>



        <!--profile card ends-->
        <ul class="nav-news-feed">
          <li *ngIf="role == 'guest'"><i></i>
            <button (click)="login()"  class="btn btn-primary">Login / Signup</button>
          </li>
          <li><i class="icon ion-ios-paper"></i>
            <div><a href="newsfeed.html">Newsfeed</a></div>
          </li>
        </ul>
        <!--news-feed links ends-->

      </div>
      <div class="col-md-7">
        <div class="create-post" *ngIf="role=='admin'">

          <div class="row">
              <div class="col-md-10 col-sm-10">

                <div class="form-group">
                  <img src="../../assets/images/users/user-1.jpg" alt="" class="profile-photo-md" />
                  <form [formGroup]="publishPost" (ngSubmit)="createPost()">
                  <textarea name="texts" cols="45" rows="3" formControlName="post_message" class="form-control"
                    placeholder="Write right let people know the right things...."></textarea>
                  </form>
                </div>

              </div>
              <div class="col-md-2 col-sm-2">
                <div class="tools">
                  <button class="btn btn-primary pull-right" (click)="createPost()">Publish</button>
                </div>
              </div>
          </div>

        </div><!-- Post Create Box End-->

        <!-- Post Content
          ================================================= -->
         <div id="loading"></div>
        <div *ngIf="show">
          <div *ngFor = "let post of posts"><div class="post-content">
            <div class="post-container" >
              <img src="../../assets/images/cintana_profile.png" alt="user" class="profile-photo-md pull-left" />
              <div class="post-detail">
                <div class="user-info">
                  <h5><a href="timeline.html" class="profile-link">{{currentUser.name}}</a> <span
                      class="following">admin</span></h5>
                  <p class="text-muted">{{post.post_date}}</p>
                </div>
                <div class="line-divider"></div>
                <div class="post-text">
                  <p>{{post.post_message}} <i class="em em-anguished"></i> <i
                      class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                </div>
                <div class="line-divider"></div>
                <span *ngIf = "post.comments.length > 0"><h5><b>Comments</b></h5></span>
                <div *ngIf = "post.comments.length > 0">
                   <div class="post-comment"  *ngFor = "let comment of post.comments">
                  <img src="../../assets/images/user_logo.png" alt="" class="profile-photo-sm" />
                  <p><a href="timeline.html" class="profile-link">{{comment.user_name}} </a>{{comment.comment_message}}.<span *ngIf="role=='admin'" class="following pointer_arrow" (click)="relyComment(post.comments,comment)">reply</span></p>

                  <div id="post" class="post-comment" *ngIf="comment.reply">
                  <!-- <img src="../../assets/images/users/user-1.jpg"  alt="" class="profile-photo-sm" /> -->
                  <input type="text" class="form-control" placeholder="Post a comment" [(ngModel)]="userComment">
                  <button type="button" class="btn btn-primary post-right" id="submit" (click)="postComment(userComment,post)" >Reply</button>
                </div>
                </div>
                </div>

                <div id="post" class="post-comment" *ngIf="role=='user'">
                  <!-- <img src="../../assets/images/users/user-1.jpg"  alt="" class="profile-photo-sm" /> -->
                  <input type="text" class="form-control" placeholder="Post a comment" [(ngModel)]="userComment">
                  <button type="button" class="btn btn-primary post-right" id="submit" (click)="postComment(userComment,post)" >Post</button>
                </div>
              </div>
            </div>
          </div></div>
        </div>

        <!-- Post Content
          ================================================= -->

      </div>



      <!-- Newsfeed Common Side Bar Right
        ================================================= -->
      <div class="col-md-2 static" *ngIf="role=='admin'">
        <div class="suggestions" id="sticky-sidebar">
          <h4  class="grey">Users</h4>
          <div class="follow-user">
            <img src="../../assets/images/users/user-11.jpg" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">Diana Amber</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-2 static" *ngIf="role != 'admin'">
        <div class="card">
          <div class="card-header">
            <h3>Fact</h3>
          </div>
          <div class="card-body">
            <p><b>Respect people who find time for you in their busy schedule, but love people who never look at their schedule when you need them."</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer
  ================================================= -->
<!-- <footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">
        <div class="col-md-3 col-sm-3">
          <a href="#"><img src="../../assets/images/logo-black.png" alt="" class="footer-logo" /></a>
          <ul class="list-inline social-icons">
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h5>For individuals</h5>
          <ul class="footer-links">
            <li><a href="#">Signup</a></li>
            <li><a href="#">login</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Finder app</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Language settings</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h5>For businesses</h5>
          <ul class="footer-links">
            <li><a href="#">Business signup</a></li>
            <li><a href="#">Business login</a></li>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Setup</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h5>About</h5>
          <ul class="footer-links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <h5>Contact Us</h5>
          <ul class="contact">
            <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
            <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
            <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Thunder Team © 2016. All rights reserved</p>
  </div>
</footer> -->
